 # First command is to ignore everything
/*

# But of course we need the gitignore file!
!.gitignore

#Now that we've ignored everything, tell Git what not to ignore
!/Syllabus
!/Homeworks
!/Lecture 0 - Intro
!/Lecture 1 - Macroeconomic Aggregates
!/Lecture 2 - The Labor-Leisure Tradeoff
!/Lecture 3 - The Intertemporal Tradeoff
!/Lecture 4 - Growth
!/Lecture 5 - Understanding Immigration
!/Lecture 6 - Robots and Automation
!/Lecture 7 - Inequality
!/Lecture 8 - Cryptocurrency
#!/Lecture 8 - Social Safety Net and Fiscal Policy
#!/Lecture 9 - UBI
#!/Lecture 10 - Monetary Policy Basics
#!/Lecture 11 - MMT
#!/Lecture 12 - Crypto
#!/Lecture 13 - Government Debt
#!/Lecture 14 - Bank Runs and the U.S. Financial Crisis

#But for each thing we don't ignore, we need to re-ignore the insides
/Syllabus/*
/Lecture 0 - Intro/*
/Lecture 1 - Macroeconomic Aggregates/*
/Lecture 2 - The Labor-Leisure Tradeoff/*
/Lecture 3 - The Intertemporal Tradeoff/*
/Lecture 4 - Growth/*
/Lecture 5 - Understanding Immigration/*
/Lecture 6 - Robots and Automation/*
/Lecture 7 - Inequality/*
/Lecture 8 - Cryptocurrency/*
#/Lecture 8 - Social Safety Net and Fiscal Policy/*
#/Lecture 9 - UBI/*
#/Lecture 10 - Monetary Policy Basics/*
#/Lecture 11 - MMT/*
#/Lecture 12 - Crypto/*
#/Lecture 13 - Government Debt/*
#/Lecture 14 - Bank Runs and the U.S. Financial Crisis/*


#But not specific files we want to share on the inside
!/Lecture 0 - Intro/Introduction.pdf
!/Lecture 1 - Macroeconomic Aggregates/Macroeconomic Aggregates.pdf
!/Lecture 2 - The Labor-Leisure Tradeoff/LaborLecture.pdf
!/Lecture 3 - The Intertemporal Tradeoff/The Intertemporal Tradeoff.pdf
!/Lecture 4 - Growth/Crash Course in Growth Theory.pdf
!/Lecture 5 - Understanding Immigration/Immigration.pdf
!/Lecture 6 - Robots and Automation/*.pdf
!/Lecture 7 - Inequality/Inequality.pdf
!/Lecture 8 - Cryptocurrency/*.pdf
#!/Lecture 8 - Social Safety Net and Fiscal Policy/*.pdf
#!/Lecture 9 - UBI/*.pdf
#!/Lecture 10 - Monetary Policy Basics/*.pdf
#!/Lecture 11 - MMT/*.pdf
#!/Lecture 12 - Crypto/*.pdf
#!/Lecture 13 - Government Debt/*.pdf
#!/Lecture 14 - Bank Runs and the U.S. Financial Crisis/*.pdf


/Homeworks/Homework 1/*
/Homeworks/Homework 2/*
/Homeworks/Homework 3/*
/Homeworks/Homework 4/*
/Homeworks/Homework 5/*
/Homeworks/Homework 6/*
/Homeworks/Homework 7/*
/Homeworks/Homework 7_2022/*
/Homeworks/Homework 7_2021/*

# but do not ignore the config.fish file
!/Homeworks/Homework 1/Homework 1.pdf
!/Homeworks/Homework 2/Homework 2.pdf
!/Homeworks/Homework 3/Homework 3.pdf
!/Homeworks/Homework 4/Homework 4.pdf
!/Homeworks/Homework 5/Homework 5.pdf
!/Homeworks/Homework 6/Homework 6.pdf
!/Homeworks/Homework 7/Homework 7.pdf
	
!/Syllabus/*.pdf
